@import "src/assets/scss/variables.scss";

.weather-item {
  background-color: $secondary;
  text-align: center;
  color: $base;
  padding: 20px;
}

.date,
.temperature {
  font-size: 20px;
  margin-bottom: 10px;
}

.description-sky {
  font-size: 15px;
}
