@import "src/assets/scss/variables.scss";

.day-weather {
  display: block;
  text-align: center;
  height: 270px;
  background-color: $secondary;
  color: $base;
  padding: 20px 0;
  margin-bottom: 20px;
}

.city,
.description-sky {
  font-size: 25px;
  margin-bottom: 10px;
}

.temperature {
  font-size: 35px;
  margin-bottom: 10px;
}

.date-time {
  font-size: 15px;
  margin-bottom: 10px;
}

.weather-description,
.more-weather-description {
  font-size: 12px;
  p {
    display: inline-block;
  }
  & p:last-child {
    margin: 0 0 0 25px;
  }
}

.weather-description {
  margin-bottom: 10px;
}
